<div id="chiropractor-error-box" style="color: #a94442;background-color: #f2dede;border-color: #ebccd1;padding: 15px;border: 1px solid transparent;border-radius: 4px;">
<div aria-hidden="true" style="float:right;" onClick="javascript:var element = document.getElementById('chiropractor-error-box');element.parentNode.removeChild(element);">&times;</div>
<div style="font-weight:bold">{{ errorMessage }}</div>
<div>Message: {{ response.responseText }}</div>
<div>Status: {{ response.statusText }}</div>
<div>StatusCode: {{ response.status }}</div>
</div>